.add-form {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 650px;

  .search-container {
    flex-grow: 1;
  }
  .asset-list {
    margin-top: 15px;
    list-style: none;
    padding: 0;
  }
  .amount-input {
    margin-top: 15px;
    margin-bottom: 15px;
    label {
      margin-right: 10px;
    }
  }
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
}
