.add-form {
  color: var(--text-primary);
  background-color: var(--card-background); // Светлый фон
  border-radius: 8px;
  padding: 20px;

  h2 {
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--text-primary);
  }

  .search-container {
    margin-bottom: 15px;
  }

  .amount-input {
    margin-bottom: 15px;
    label {
      margin-right: 10px;
      color: var(--text-primary);
    }
  }

  .asset-list {
    margin-top: 10px;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
  }
}
