.portfolio-list {
  padding: 20px;
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 10px;
    color: var(--text-primary);
  }

  p {
    color: var(--text-primary);
  }

  .asset-list {
    height: 400px;
    padding-right: 10px;

    .header-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      margin-bottom: 5px;
      color: var(--text-secondary);
      font-size: 12px;
    }
  }

  .confirm-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
