.asset-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background: var(--secondary-color);
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background: #e0e0e0;
  }
  &.selected {
    background: var(--primary-color);
  }

  .asset-name {
    font-weight: bold;
    flex-grow: 1;
  }
  .asset-price,
  .asset-amount,
  .asset-change {
    margin-left: 10px;
  }
  .asset-change {
    &.positive {
      color: var(--positive-change);
    }
    &.negative {
      color: var(--negative-change);
    }
  }
}
