.asset-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #e0e0e0;
  }

  &.selected {
    border: 2px solid var(--primary-color);
  }

  .asset-info {
    width: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-primary);

    .asset-icon {
      font-size: 20px;
    }

    .asset-name {
      font-weight: 500;
    }

    .asset-amount {
      color: var(--text-secondary);
    }
  }

  .asset-total-value {
    font-size: 14px;
    color: var(--text-primary);
    white-space: nowrap; // Предотвращаем перенос строк
  }

  .asset-price {
    font-size: 14px;
    color: var(--text-primary);
    white-space: nowrap;
  }

  .asset-change {
    font-size: 14px;
    &.positive {
      color: var(--positive-change);
    }
    &.negative {
      color: var(--negative-change);
    }
  }
}
