.asset-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #2c2c2c;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background: #333;
  }
  &.selected {
    background: #444;
  }
  .asset-icon {
    margin-right: 10px;
  }
  .asset-name {
    font-weight: bold;
    flex-grow: 1;
  }
  .asset-price,
  .asset-amount,
  .asset-change {
    margin-left: 10px;
  }
  .asset-change {
    &.up {
      color: #11fc11;
    }
    &.down {
      color: #fd4a4a;
    }
  }
}
