.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &.primary {
    background: var(--primary-color);
    color: var(--text-color);
    &:hover:not(.disabled) {
      background: #2f93ff;
    }
  }
  &.secondary {
    background: #666;
    color: var(--text-color);
    &:hover:not(.disabled) {
      background: #777;
    }
  }
  &.danger {
    background: #ff4444;
    color: var(--text-color);
    &:hover:not(.disabled) {
      background: #fa5b5b;
    }
  }
  &.disabled {
    background: #888;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
