.input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--text-secondary);
  background-color: var(--card-background);
  color: var(--text-primary);
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.2s;

  &.primary {
    border-color: var(--primary-color);
    &:focus {
      outline: none;
      border-color: #42a5f5;
    }
  }

  &.search {
    border-color: var(--text-secondary);
    &:focus {
      outline: none;
      border-color: var(--primary-color);
    }
  }

  &::placeholder {
    color: var(--text-secondary);
  }
}
